<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="profile1"/>
    <add key="AWSAccessKey" value="AKIAJ6Q2Q77IHJX7STWA"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>