@model AspNetCore.Models.Student
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Student</title>
</head>
<body>
    <div>
        <h1>Student Information</h1>
        <strong>Student number:</strong>@Model.StudentNumber<br />
        <strong>First name: </strong>@Model.FirstName<br />
        <strong>First name: </strong>@Model.LastName<br />
</div>
</body>
</html>